<div class="container">
<div>
  <input class="textbox" type="text" [(ngModel)] ="newWishText">
  <button type="submit" (click)="$event.preventDefault(); addNewWish()">Submit</button>

</div>
<div>
  <select 
  class="from-select" 
  [(ngModel)]="listFilters"
  (ngModelChange)="filterChange($event)">
<option value="0">All</option>
<option value="1">Unfulfilled</option>
<option value="2">fulfilled</option>

  </select>
</div>
<div *ngIf="visibleItems.length === 0; then noItems else showItems" >
</div>
<ng-template #noItems>
  No wish items to show
</ng-template>
<ng-template #showItems>
    <div  *ngFor ="let item of visibleItems; index as ii">
     <input class="checkbox" type="checkbox" [checked]="item.isComplete"
     [attr.data-index]="ii" (click)="toggleItem(item)"> {{item.wishText}}
  </div>
</ng-template>
</div>